body {
	font-family: "Inter", sans-serif;
	background: black;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	margin-top: 30px;
}

.selectors {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 900px;
	margin: 40px auto 20px auto;
	gap: 40px;
}

.selectors > div {
	flex: 1 1 0;
	background: linear-gradient(120deg, #202020, #0d0d0d);
	padding: 18px 26px;
	border-radius: 6px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
	min-width: 250px;
	max-width: 400px;
	margin: 0 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Zen Dots', cursive;
}

select {
	width: 100%;
	padding: 8px 10px;
	font-size: 1rem;
	border-radius: 4px;
	border: 1px solid #ccc;
	margin-top: 8px;
}

p {
	margin: 7px 0;
}

.subheading {
	color: #fff;
	font-size: 1rem;
	font-weight: 200;
	margin-top: 1px;
	margin-bottom: 20px;
}

.title {
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	font-weight: 800;
	font-size: 3rem;
	font-family: 'Zen Dots', cursive;
}

/* https://developer.mozilla.org/en-US/docs/Learn_web_development/Extensions/Forms/Customizable_select */
select, 
::picker(select) {
  appearance: base-select;
  font-family: Inter, sans-serif;
  font-weight: 300;
  line-height: 2.2rem;
}

optgroup {
  font-weight: 450;
}

select::picker-icon {
  color: #ffffff;
  transition: 0.5s rotate;
  font-style: normal !important;
}

select:open::picker-icon {
  rotate: 180deg;
}

option
::focus {
	transition: 0.5s ease-in-out background-color #333;
}

footer {
	text-align: center;
	color: #fff;
	margin-bottom: 20px;
	font-size: 0.7rem;
	font-family: Inter, sans-serif;
	margin-top: 25px;
}

a {
	color: #ff1e1e;
	text-decoration: none;
}

.red-title {
	color: #c20000; 
}